.pdf-sample-container {
    margin: 0 0 16px;
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .pdf-sample-container {
        flex-direction: row;
    }
}

.pdf-sample-sub-container {
    flex: 0 1 auto;
    margin: 0;
    border: none;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.pdf-sample-box {
    flex: 0 0 120px;
    height: 170px;
    margin: 6px;
    border: 1px solid #bbbbbb;
    box-shadow: 2px 2px 6px #bbbbbb;
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    background-size: cover;
    transition: border 150ms, box-shadow 150ms;
}

@media screen and (min-width: 400px) {
    .pdf-sample-box {
        flex: 0 0 150px;
        height: 212px;
        margin: 10px;
    }
}

.pdf-sample-box:hover, .pdf-sample-box:focus {
    border: 1px solid #666666;
    box-shadow: 2px 2px 6px #666666;
}

.pdf-sample-box-text {
    flex: 0 0 100%;
    padding: 20px 0;
    font-size: 1.3rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    background: linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.9) 25%,
            rgba(255, 255, 255, 0.9) 75%,
            rgba(255, 255, 255, 0) 100%
    );
}

@media screen and (min-width: 400px) {
    .pdf-sample-box-text {
        font-size: 1.4rem;
    }
}
