{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block additional_meta %}
    {% endblock %}
    <title>Fleischerei Hartmann in Altenburg und Göhren</title>
    <link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}">
    <script src="https://kit.fontawesome.com/8eb077494e.js" crossorigin="anonymous"></script>
</head>
<body>

<div id="header" class="main-container">
    <img src="{% static 'core/logo.png' %}" alt="Logo" id="logo">
    <div id="nav-burger" onclick="toggleNavBurger()">
        <i class="fa-solid fa-bars"></i>
    </div>
</div>

<div id="nav" class="main-container">
    <a class="item" href="{% url 'home' %}">
        <i class="fa-solid fa-house"></i><span>Über Uns</span>
    </a>
    <a class="item" href="{% url 'news' %}">
        <i class="fa-solid fa-star"></i><span>Aktuelles</span>
    </a>
    <a class="item" href="{% url 'menu' %}">
        <i class="fa-solid fa-book-open"></i><span>Speiseplan</span>
    </a>
    <a class="item" href="https://shop.fleischerei-hartmann.com">
        <i class="fa-solid fa-cart-shopping"></i><span>Shop</span>
    </a>
    <a class="item" href="{% url 'party' %}">
        <i class="fa-solid fa-champagne-glasses"></i><span>Partyservice</span>
    </a>
    <a class="item" href="{% url 'contact' %}">
        <i class="fa-solid fa-user"></i><span>Kontakt</span>
    </a>
</div>

<div id="content" class="main-container">
    {% block content %}
    {% endblock %}
</div>

<div id="footer" class="main-container">
    <p><a href="{% url 'imprint' %}">Impressum</a></p>
    <p>
        Fleischer-Fachgeschäft Hartmann<br>
        Eisenberger Straße 6<br>
        04603 Göhren
    </p>
    <p>
        Festnetz: <a href="tel:+493347502492">03447 / 50 24 92</a><br>
        E-Mail: <a href="mailto:info@fleischerei-hartmann.com">info@fleischerei-hartmann.com</a>
    </p>
    <p class="small">
        © {% now "Y" %} Fleischer Fachgeschäft Hartmann
    </p>

    <a href="{% static 'core/thueringen-invest-2015.pdf' %}">
        <img src="{% static 'core/efre-thueringen.jpg' %}" alt="EFRE bewegt Thüringen Logo">
    </a>
    <a href="https://www.efre-thueringen.de/">
        <img src="{% static 'core/efre-europa.jpg' %}" alt="EFRE und EU Logo">
    </a>
</div>

<script>
    let nav = document.getElementById("nav");
    let navBurger = document.getElementById("nav-burger");

    const navState = {
        BAR: "bar",
        CLOSED_BURGER: "closed-burger",
        OPEN_BURGER: "open-burger",
    }
    let currentNavState;

    function changeNavToBar() {
        currentNavState = navState.BAR;
        navBurger.classList.remove("display-flex");
        navBurger.classList.add("display-none");
        nav.classList.remove("display-vertical");
        nav.classList.remove("display-none");
        nav.classList.add("display-horizontal");
    }

    function changeNavToClosedBurger() {
        currentNavState = navState.CLOSED_BURGER;
        navBurger.classList.remove("display-none");
        navBurger.classList.add("display-flex");
        nav.classList.remove("display-vertical");
        nav.classList.remove("display-horizontal");
        nav.classList.add("display-none");
    }

    function changeNavToOpenBurger() {
        currentNavState = navState.OPEN_BURGER;
        navBurger.classList.remove("display-none");
        navBurger.classList.add("display-flex");
        nav.classList.remove("display-vertical");
        nav.classList.remove("display-none");
        nav.classList.add("display-vertical");
    }

    function toggleNavBurger() {
        if (currentNavState === navState.CLOSED_BURGER) {
            changeNavToOpenBurger();
        } else if (currentNavState === navState.OPEN_BURGER) {
            changeNavToClosedBurger();
        }
    }

    function checkNavCollapse() {
        if (window.innerWidth >= 720 && currentNavState !== navState.BAR) {
            changeNavToBar();
            console.log("nav: " + nav.classList)
            console.log("navBurger: " + navBurger.classList)
        } else if (window.innerWidth < 720 && currentNavState === navState.BAR) {
            changeNavToClosedBurger();
            console.log("nav: " + nav.classList)
            console.log("navBurger: " + navBurger.classList)
        }
    }

    function setInitialNavState() {
        if (window.innerWidth >= 720) {
            changeNavToBar();
        } else if (window.innerWidth < 720) {
            changeNavToClosedBurger();
        }
    }

    setInitialNavState();
    window.addEventListener('resize', () => checkNavCollapse());
</script>
</body>
</html>
