{% extends "core/base.html" %}
{% load static %}

{% block content %}
    <h2>Kontakt</h2>
    <p>
        Fleischer Fachgeschäft René Hartmann<br>
        Eisenberger Straße 6<br>
        04603 Göhren<br>
        Festnetz: <a href="tel:+493347502492">03447 / 50 24 92</a>
    </p>
    <p>
        Fleischer Fachgeschäft René Hartmann<br>
        Kornmark 13<br>
        04600 Altenburg<br>
        Festnetz: <a href="tel:+493347508044">03447 / 50 80 44</a>
    </p>
    <p>
        E-Mail: <a href="mailto:info@fleischerei-hartmann.com">info@fleischerei-hartmann.com</a>
    </p>
    <p>
        Mobiltelefon: <a href="tel:+491722064622">0172 / 20 64 622</a>
    </p>
{% endblock %}
