{% extends "core/base.html" %}
{% load static %}

{% block content %}
    <h2>Unsere Geschichte</h2>

    <p>
        Im Jahre 1978 eröffnete Hans-Peter Hartmann in Altenburg auf dem Kornmarkt seine Fleischerei. Produziert wurde
        in den hinteren Räumen, verkauft im kleinen Ladengeschäft. Mit seinen Wurstwaren traf er den Geschmack der Leute
        und machte sich rasch einen guten Namen.
    </p>

    <div class="image-group">
        <div class="image-wrapper">
            <img src="{% static 'core/filiale-kornmarkt-1978.jpg' %}" alt="Filiale am Kornmarkt 1978">
        </div>
        <div class="image-wrapper">
            <img src="{% static 'core/filiale-kornmarkt-2013.jpg' %}" alt="Filiale am Kornmarkt 2013">
        </div>
    </div>

    <p>
        Nach der „Wende“ wurden die Räumlichkeiten bald zu klein und Hans-Peter Hartmann baute in Göhren einen neuen
        Produktionsbetrieb mit kleinem Verkaufsraum. Im Oktober 1993 wurde eröffnet. Die Wurstwaren stellte man jetzt
        mit moderner Technik her und der Laden in Altenburg wird bis heute dreimal täglich mit den frischen Produkten
        beliefert. Inzwischen wurde auch dort umgebaut und es entstand ein schmucker, großer Verkaufsraum.
    </p>

    <div class="image-group">
        <div class="image-wrapper">
            <img src="{% static 'core/filiale-goehren-1993.jpg' %}" alt="Filiale in Göhren 1993">
        </div>
        <div class="image-wrapper">
            <img src="{% static 'core/filiale-goehren-2013.jpg' %}" alt="Filiale in Göhren 2013">
        </div>
    </div>

    <p>
        Im Jahre 2011 übergab Hans-Peter die Leitung des Geschäfts an seinen Sohn René Hartmann, der seitdem mit den
        traditionellen und auch neuen Rezepten das Fleischerfachgeschäft führt.
    </p>

    <div class="image-group">
        <div class="image-wrapper">
            <img src="{% static 'core/team-1993.jpg' %}" alt="Team 1993">
        </div>
        <div class="image-wrapper">
            <img src="{% static 'core/team-2014.jpg' %}" alt="Team 2014">
        </div>
    </div>

    <p>
        Am 12. Juni 2017 wurde die dritte Filiale der Fleischerei Hartmann in der Münsaer Straße in Altenburg eröffnet.
    </p>

    <div class="image-group">
        <div class="image-wrapper">
            <img src="{% static 'core/filiale-penny-2017.jpg' %}" alt="Filiale Münsaer Str. (Penny) 2017">
        </div>
    </div>
{% endblock %}
