{% extends "core/base.html" %}
{% load static %}

{% block content %}
    <h2>Herzlich Willkommen</h2>
    <p>
        Auf den nächsten Seiten wollen wir Ihnen unsere Fleischerei vorstellen. Vom <a href="{% url 'history' %}">
        traditionellen Beginn</a> bis hin zu unseren heutigen modernen Geschäften in Altenburg und Göhren war uns eines
        immer wichtig:
    </p>
    <p>
        Gute <a href="{% url 'quality' %}">Qualität</a>, die schmeckt!
    </p>

    <div class="image-group">
        <div class="image-wrapper">
            <img src="{% static 'core/team-2014-theke.jpg' %}" alt="Unser Team">
        </div>
    </div>

    <p>
        Werfen Sie gern einen Blick in unseren <a href="https://shop.fleischerei-hartmann.com">Online-Shop</a>
        oder auf den aktuellen <a href="{% url 'menu' %}">Speiseplan</a> für unseren Mittagsimbiss.
    </p>

    <h2>Unsere Öffnungszeiten</h2>

    <div class="column-group">
        <div class="column">

            <h3>Geschäft am Kornmarkt</h3>
            <table>
                <tr>
                    <td>Montag bis Freitag</td>
                    <td>08:30 - 17:00 Uhr</td>
                </tr>
                <tr>
                    <td>Samstag</td>
                    <td>08:00 - 12:00 Uhr</td>
                </tr>
            </table>

            <h3>Geschäft Münsaer Str. (Penny)</h3>
            <table>
                <tr>
                    <td>Montag bis Freitag</td>
                    <td>07:00 - 17:00 Uhr</td>
                </tr>
                <tr>
                    <td>Samstag</td>
                    <td>07:00 - 11:30 Uhr</td>
                </tr>
            </table>

        </div>
        <div class="column">

            <h3>Geschäft Göhren</h3>
            <table>
                <tr>
                    <td>Montag</td>
                    <td>geschlossen</td>
                </tr>
                <tr>
                    <td>Dienstag</td>
                    <td>
                        08:30 - 13:00 Uhr<br>
                        15:00 - 17:00 Uhr
                    </td>
                </tr>
                <tr>
                    <td>Mittwoch</td>
                    <td>
                        08:30 - 13:00 Uhr<br>
                        nachmittags geschlossen
                    </td>
                </tr>
                <tr>
                    <td>Donnerstag</td>
                    <td>
                        08:30 - 13:00 Uhr<br>
                        15:00 - 17:00 Uhr
                    </td>
                </tr>
                <tr>
                    <td>Freitag</td>
                    <td>08:30 - 17:00 Uhr</td>
                </tr>
                <tr>
                    <td>Samstag</td>
                    <td>08:00 - 11:30 Uhr</td>
                </tr>
            </table>

        </div>
    </div>

    <div class="image-group">
        <div class="image-wrapper">
            <img src="{% static 'core/laden-kornmarkt-2014.jpg' %}" alt="Filiale am Kornmarkt">
        </div>
        <div class="image-wrapper">
            <img src="{% static 'core/chef-caddy-2014.jpg' %}" alt="René mit Firmenwagen">
        </div>
    </div>
{% endblock %}
