{% extends "core/base.html" %}
{% load static %}

{% block content %}
    <h2>Impressum</h2>
    <p>
        Fleischer Fachgeschäft René Hartmann<br>
        Inhaber: René Hartmann<br>
        Eisenberger Straße 6<br>
        DE – 04603 Göhren
    </p>
    <p>
        Festnetz: +49 34 47 / 50 24 92<br>
        Mobiltelefon: +49 172 / 20 64 622<br>
        E-Mail: info@fleischerei-hartmann.com
    </p>
    <p>
        Steuernummer: 166 / 228 / 03589<br>
        Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV: René Hartmann (Anschrift wie oben)<br>
        Zuständige Kammer: Handwerkskammer für Ostthüringen, Handwerkstraße 5, 07545 Gera<br>
        Berufsbezeichnung: Fleischermeister (verliehen in der Bundesrepublik Deutschland)<br>
        Berufsrechtliche Regelungen: Handwerksordnung
    </p>
    <p>
        Haftungshinweis: Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte
        externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich. Die
        auf unseren Seiten gezeigten Logos sind Warenzeichen und im Besitz ihrer jeweiligen Eigentümer!
    </p>
{% endblock %}
