{% extends "core/base.html" %}
{% load static %}

{% block content %}
    <h2>Speiseplan</h2>

    {% if menu %}
        <p>
            für unseren Mittagstisch in der Woche vom <strong>{{ menu.start_date|date:'d.m.' }}</strong>
            bis <strong>{{ menu.end_date|date:'d.m.Y' }}</strong>
        </p>

        <p><strong>Montag</strong> (außer Filiale Göhren)</p>
        {% if menu.dish_mon %}
            <p>{{ menu.dish_mon.name }}<br>{{ menu.dish_mon.get_price_string }}</p>
        {% else %}
            <p>-</p>
        {% endif %}

        <p><strong>Dienstag</strong></p>
        {% if menu.dish_tue %}
            <p>{{ menu.dish_tue.name }}<br>{{ menu.dish_tue.get_price_string }}</p>
            <p>Nudeln in Wurstsuppe mit Hackfleischbällchen<br>3,50 €</p>
        {% else %}
            <p>-</p>
        {% endif %}

        <p><strong>Mittwoch</strong></p>
        {% if menu.dish_wed %}
            <p>{{ menu.dish_wed.name }}<br>{{ menu.dish_wed.get_price_string }}</p>
        {% else %}
            <p>-</p>
        {% endif %}

        <p><strong>Donnerstag</strong></p>
        {% if menu.dish_thu %}
            <p>{{ menu.dish_thu.name }}<br>{{ menu.dish_thu.get_price_string }}</p>
        {% else %}
            <p>-</p>
        {% endif %}

        <p><strong>Freitag</strong></p>
        {% if menu.dish_fri %}
            <p>{{ menu.dish_fri.name }}<br>{{ menu.dish_fri.get_price_string }}</p>
        {% else %}
            <p>-</p>
        {% endif %}

        <p>Außerdem bieten wir fast täglich ein zusätzliches Eintopfgericht an.</p>

    {% else %}
        <p>Der aktuelle Plan für unseren Mittagstisch ist noch in Bearbeitung.</p>

    {% endif %}

{% endblock %}
