{% extends "core/base.html" %}
{% load static %}

{% block content %}
    <h2>Aktuelles</h2>
    {% if not posts %}
        <p>Es gibt momentan keine Neuigkeiten - alles geht seinen gewohnten Gang.</p>
    {% endif %}
    {% for post in posts %}
        <h3>{{ post.heading }}</h3>
        <p class="news-date">{{ post.published_date }}</p>
        <p>{{ post.text|linebreaks }}</p>
    {% endfor %}
{% endblock %}
