{% extends "core/base.html" %}
{% load static %}

{% block content %}
    <h2><i class="fa-solid fa-screwdriver-wrench"></i> Partyservice</h2>
    <p>
        Aktuell überarbeiten wir das Online-Angebot für unseren Partyservice. Sprechen Sie uns gern persönlich an, um
        sich ein Angebot für Speisen und Buffets einzuholen, egal ob für die Geburtstagsparty oder Firmenfeier.
    </p>
{% endblock %}
