{% extends "core/base.html" %}
{% load static %}

{% block content %}
    <h2>Qualität</h2>

    <p>
        Meisterbrief des Fleischerhandwerks
    </p>

    <div class="image-group">
        <div class="image-wrapper">
            <img src="{% static 'core/meisterbrief.jpg' %}" alt="Meisterbrief">
        </div>
    </div>
{% endblock %}
