/*
white: #ffffff
light-gray: #e9e9e9
dark-gray: #555555
black: #000000
yellow: #c3a123
red: #98141b
dark-red: #4c0a0d
*/

/* RESETS */

html, body, * {
    padding: 0;
    margin: 0;
    border: none;
}

a {
    color: #000000;
    text-decoration: none;
}

/* GLOBAL */

html, body {
    width: 100%;
    height: 100%;
    font-size: 15px;
}

@media only screen and (min-width: 360px) {
    html, body {
        font-size: 16px;
    }
}

@media only screen and (min-width: 720px) {
    html, body {
        font-size: 17px;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e9e9e9;
}

.bold {
    font-weight: bold;
}

.centered {
    text-align: center;
}

.main-container {
    flex-shrink: 1;
    width: 100%;
    max-width: 1200px;
}

/* HEADER */

#header {
    min-height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    background: #98141b;
    background: linear-gradient(90deg, #98141b 0%, #4c0a0d 100%);
}

@media only screen and (min-width: 360px) {
    #header {
        min-height: 130px;
    }
}

@media only screen and (min-width: 720px) {
    #header {
        min-height: 160px;
    }
}

#logo {
    width: 178px; /* 500 / 239 * 85 */
    height: 85px;
    position: absolute;
    left: 15px;
    top: 12px;
    z-index: 4;
}

@media only screen and (min-width: 360px) {
    #logo {
        width: 209px; /* 500 / 239 * 100 */
        height: 100px;
        left: 20px;
        top: 16px;
    }
}

@media only screen and (min-width: 720px) {
    #logo {
        width: 251px; /* 500 / 239 * 120 */
        height: 120px;
        left: 25px;
        top: 20px;
    }
}

#nav-burger {
    flex-shrink: 1;
    align-self: end;
    z-index: 6;
    margin: 0 16px 16px 0;
    padding: 8px 14px;
    font-size: 2rem;
    color: #ffffff;
    background: #98141b;
    box-shadow: 0 0 6px -1px #000000;
    border-radius: 4px;
    transition: background 120ms, color 120ms, box-shadow 120ms;
}

#nav-burger:hover, #nav-burger:active {
    background: #c3a123;
    color: #000000;
    box-shadow: 0 0 6px 1px #000000;
}

/* nav-burger / nav classes assigned via JS */

.display-flex {
    display: flex;
}

.display-none {
    display: none;
}

.display-horizontal {
    display: flex;
    flex-direction: row;
}

.display-vertical {
    display: flex;
    flex-direction: column;
}

#nav {
    background: #98141b;
    background: linear-gradient(90deg, #98141b 0%, #4c0a0d 100%);
}

#nav .item {
    flex: 0 1 auto;
    background: #c3a12300;
    color: #ffffff;
    box-shadow: #c3a12300 0 0 0;
    transition: background 120ms, color 120ms, box-shadow 120ms;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

@media only screen and (min-width: 720px) {
    #nav .item {
        flex: 1 0 auto;
        flex-direction: column;
        justify-content: center;
        min-width: 120px;
    }
}

@media only screen and (min-width: 1000px) {
    #nav .item {
        flex-direction: row;
    }
}

#nav .item:hover, #nav .item:active {
    background: #c3a123ff;
    color: #000000;
    box-shadow: #c3a123ff 0 0 4px;
    z-index: 4;
}

#nav .item i {
    flex-shrink: 1;
    flex-basis: 40px;
    margin: 16px;
    font-size: 1.4rem;
    text-align: center;
}

#nav .item span {
    flex-shrink: 1;
    margin: 16px 0;
    font-size: 1.1rem;
    padding-top: 4px;
    white-space: nowrap;
}

@media only screen and (min-width: 720px) {
    #nav .item i {
        margin: 16px 0 0;
    }

    #nav .item span {
        margin: 0 0 16px;
    }
}

@media only screen and (min-width: 1000px) {
    #nav .item i {
        margin: 16px 4px 16px 0;
    }

    #nav .item span {
        margin: 16px 4px 16px 0;
    }
}

/* CONTENT */

#content {
    background: #ffffff;
    color: #000000;
}

#content p, #content h2, #content h3, #content ul, #content .image-group, #content .column-group {
    margin: 16px 8px;
}

@media only screen and (min-width: 360px) {
    #content p, #content h2, #content h3, #content ul, #content .image-group, #content .column-group {
        margin: 24px 12px;
    }
}

@media only screen and (min-width: 720px) {
    #content p, #content h2, #content h3, #content ul, #content .image-group, #content .column-group {
        margin: 32px 16px;
    }
}

#content .column-group {
    margin-top: 0;
}

#content .column-group p, #content .column-group h3 {
    margin-left: 0;
    margin-right: 0;
}

#content h2 {
    font-size: 1.4rem;
    font-weight: normal;
    text-align: center;
    color: #4c0a0d;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    padding: 12px 0;
}

#content h3 {
    font-size: 1.2rem;
    font-weight: normal;
    color: #4c0a0d;
    border-bottom: 1px solid #e9e9e9;
    padding: 6px 0;
    margin-bottom: 10px;
}

#content p, #content li {
    line-height: 1.7rem;
}

#content p a {
    color: #98141b;
    text-decoration: underline;
    text-decoration-style: dotted;
    transition: color 120ms, background 120ms;
}

#content p a:hover, #content p a:active {
    color: #000000;
}

#content .image-group, #content .column-group {
    max-height: none;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 360px) {
    #content .image-group {
        flex-direction: row;
        max-height: 360px;
    }
}

@media only screen and (min-width: 720px) {
    #content .column-group {
        flex-direction: row;
    }

}

#content .image-wrapper {
    flex-grow: 1;
    margin: 6px;
    display: flex;
    justify-content: center;
}

#content .image-wrapper img {
    object-fit: contain;
    max-width: 100%;
    border-radius: 4px;
    box-shadow: 0 0 6px -1px #000000;
}

#content .column {
    flex-grow: 1;
}

#content table {
    border-spacing: 0;
}

#content table tr:hover, #content table tr:active {
    background-color: #e9e9e9;
}

#content table td {
    padding: 8px;
}

#content .news-date {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.9rem;
    color: #666666;
}

/* FOOTER */

#footer {
    color: #555555;
    font-size: 0.9rem;
    text-align: center;
}

#footer p {
    margin: 16px 8px;
    line-height: 1.5rem;
}

#footer a {
    color: #98141b;
    text-decoration: underline;
    text-decoration-style: dotted;
}

#footer .small {
    font-size: 0.75rem;
}

#footer img {
    max-width: 80%;
    max-height: 70px;
    border-radius: 4px;
    box-shadow: 0 0 6px -1px #000000;
}

/* SHOP - PRODUCT LIST */

#content .beta-note {
    background-color: #ffcccc;
    border: 1px solid #4c0a0d;
    border-radius: 4px;
    padding: 12px;
}

#content .product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 6px;
    justify-content: center;
    align-items: baseline;
}

#content .product-card {
    border-radius: 4px;
    box-shadow: 0 0 4px #555555;
    flex: 0 0 280px;
    min-height: 280px;
    margin: 8px;
    transition: box-shadow 120ms;
    display: flex;
    flex-direction: column;
}

#content .product-card:hover {
    box-shadow: 0 0 6px #000000;
}

#content .product-card img {
    flex: 0 1 auto;
    width: 100%;
    border-radius: 4px 4px 0 0;
}

#content .product-card .desc {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

#content .product-card .desc .img-fadeout {
    flex: 0 0 auto;
    height: 5px;
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, #ffffffff 0%, #ffffff00 100%);
}

#content .product-card .desc h3 {
    flex: 0 1 auto;
    border: none;
    margin: 0;
    padding: 12px 6px 6px;
    text-align: center;
}

#content .product-card .desc h3:hover {
    text-decoration: underline;
}

#content .product-card .desc .price-wrapper {
    display: flex;
    flex-direction: row;
}

#content .product-card .desc .price-wrapper .price {
    flex: 1 0 auto;
}

#content .product-card .desc .price-wrapper .price .main {
    margin: 0;
    padding: 6px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
}

#content .product-card .desc .price-wrapper .price .sub {
    margin: 0;
    padding: 4px;
    text-align: center;
    color: #555555;
}

#content .product-card .desc .price-wrapper i {
    flex: 0 0 60px;
    height: 60px;
    background-color: #4c0a0d;
    color: #ffffff;
    border-radius: 4px 0 4px 0;
    font-size: 1.5rem;
    text-align: center;
    line-height: 60px;
    vertical-align: middle;
    align-self: end;
    transition: background-color 120ms, color 120ms;
}

#content .product-card .desc .price-wrapper i:hover {
    background-color: #c3a123;
    color: #000000;
}

#content .tax-hint {
    font-size: 0.9rem;
    color: #555555;
    text-align: center;
}

/* SHOP - PRODUCT DETAILS */

#product-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 12px;
}

@media only screen and (min-width: 720px) {
    #product-detail {
        flex-direction: row;
    }
}

#product-detail img {
    flex: 0 0 auto;
    width: 95%;
    max-width: 500px;
    margin-bottom: 12px;
    margin-right: 0;
    box-shadow: 0 0 4px #555555;
    border-radius: 4px;
}

@media only screen and (min-width: 720px) {
    #product-detail img {
        width: 55%;
        max-width: 600px;
        margin-bottom: 0;
        margin-right: 12px;
    }
}

#product-detail .desc {
    flex: 0 0 auto;
}

#product-detail .desc .variant-select {
    display: flex;
    flex-direction: column;
}

#product-detail .desc .variant-select a {
    flex: 0 0 auto;
    margin: 6px;
    border-radius: 4px;
    width: 220px;
    background-color: #ffffff00;
    box-shadow: 0 0 4px #555555;
    transition: background-color 120ms, box-shadow 120ms;
    display: flex;
    flex-direction: row;
}

#product-detail .desc .variant-select a:hover {
    background-color: #e9e9e9ff;
    box-shadow: 0 0 6px #000000;
}

#product-detail .desc .variant-select a .amount {
    flex: 0 0 55%;
}

#product-detail .desc .variant-select a p {
    margin: 8px 8px 4px;
}

#product-detail .desc .variant-select a .amount .main {
    font-size: 1.2rem;
}

#product-detail .desc .variant-select a .price {
    flex: 0 0 45%;
    font-size: 1.4rem;
    text-align: right;
    font-weight: bold;
}

#product-detail .desc .variant-select a .price:hover {
    text-decoration: underline;
}
