{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'menuplanner/custom-style.css' %}">
{% endblock %}

{% block content %}
    <div id="content-main">

        {% if errors %}
            <p class="errornote">
                Folgende Fehler sind aufgetreten:
                {% for err in errors %}
                    <br>{{ err }}
                {% endfor %}
            </p>
        {% endif %}

        {% if menu %}
            <p>Wochenplan #{{ menu.pk }} ausgewählt</p>
        {% else %}
            <p>kein Wochenplan ausgewählt</p>
        {% endif %}

        {% if dishes %}
            <p><b>{{ dishes|length }} Gericht(e)</b> ausgewählt</p>
        {% else %}
            <p>keine Gerichte ausgewählt</p>
        {% endif %}


        <p>Welche Art von PDF-Datei soll erstellt werden?</p>

        <div class="pdf-sample-container">
            <div class="pdf-sample-sub-container">
                <a href="{% url 'admin:dish_pdf_list' %}?dish_ids={{ dish_ids_query }}"
                   class="pdf-sample-box"
                   style="background-image: url('{% static 'menuplanner/pdf-list-sample.png' %}');">
                    <div class="pdf-sample-box-text">Liste</div>
                </a>
                <a href="{% url 'admin:dish_pdf_postings' %}?dish_ids={{ dish_ids_query }}"
                   class="pdf-sample-box"
                   style="background-image: url('{% static 'menuplanner/pdf-postings-sample.png' %}');">
                    <div class="pdf-sample-box-text">Aushang zum Laminieren</div>
                </a>
            </div>
            <div class="pdf-sample-sub-container">
                <a href="{% url 'admin:dish_pdf_handout_a5' %}?dish_ids={{ dish_ids_query }}"
                   class="pdf-sample-box"
                   style="background-image: url('{% static 'menuplanner/pdf-handout-a5-sample.png' %}');">
                    <div class="pdf-sample-box-text">A5-Zettel</div>
                </a>
                <a href="{% url 'admin:dish_pdf_handout_a4' %}?dish_ids={{ dish_ids_query }}"
                   class="pdf-sample-box"
                   style="background-image: url('{% static 'menuplanner/pdf-handout-a4-sample.png' %}');">
                    <div class="pdf-sample-box-text">A4-Zettel</div>
                </a>
            </div>
        </div>

        <p>Hinweise zum Entwicklungsstatus:</p>
        <ul>
            <li>
                Datumsangaben für A4- und A5-Zettel beziehen sich bis Freitag 14:00 auf die aktuelle Woche,
                danach auf die Kommende.
            </li>
            <li>
                Tage ohne Angebot (z.B. Feiertage) werden mit "-" versehen, wenn für
                den Tag auf der vorherigen Seite keine Gerichte ausgewählt wurden.
            </li>
            <li>Diese und weitere Angaben sollen zukünftig frei änderbar sein. &#129299;</li>
        </ul>
    </div>
{% endblock %}
