{% extends "admin/base_site.html" %}

{% block extrastyle %}
    <style type="text/css">
        pre {
            background-color: #eeeeee;
            margin: 4px;
            padding: 8px;
            border: 1px solid #cccccc;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content-main">
        <p>Hier ist dein angeforderter Wordpress-HTML-Content:</p>
        <pre><code>{{ content }}</code></pre>
    </div>
{% endblock %}
