<h5><a href="http://www.fleischerei-hartmann.com/wp-content/uploads/2015/05/Logo_SK.png">
    <img class="alignleft size-full wp-image-1839" alt="Logo_SK" width="157" height="72"
         src="http://www.fleischerei-hartmann.com/wp-content/uploads/2015/05/Logo_SK.png"/>
</a></h5>

<h4 style="color: #000000;">{{ date_range_str }}</h4>

<h5>Montag <small>(außer Filiale Göhren)</small></h5>
{{ dish_mo.name }}
<h6>{{ dish_mo.get_price_string }}</h6>

<h5>Dienstag</h5>
{{ dish_tu.name }}
<h6>{{ dish_tu.get_price_string }}</h6>
Nudeln in Wurstsuppe mit Hackfleischbällchen
<h6>3,50 €</h6>

<h5>Mittwoch</h5>
{{ dish_we.name }}
<h6>{{ dish_we.get_price_string }}</h6>

<h5>Donnerstag</h5>
{{ dish_th.name }}
<h6>{{ dish_th.get_price_string }}</h6>

<h5>Freitag</h5>
{{ dish_fr.name }}
<h6>{{ dish_fr.get_price_string }}</h6>

&nbsp;
<h4><span style="color: #000000;">
    Außerdem bieten wir fast täglich ein zusätzliches Eintopfgericht an.
</span></h4>
