{% extends "core/base.html" %}
{% load static %}

{% block additional_meta %}
    <meta name="robots" content="noindex, nofollow, noarchive">
{% endblock %}

{% block content %}
    <p class="beta-note">
        Diese Seite dient zum Test unseres neuen Online-Shops. Alle Produktangaben sind unverbindlich und Sie können
        keine Bestellungen aufgeben. Unseren richtigen Online-Shop finden Sie
        <a class="item" href="https://shop.fleischerei-hartmann.com">hier</a>.
    </p>
    <h2>{{ product.name }}</h2>
    <div id="product-detail">
        <img src="{% static 'core/product-placeholder.png' %}" alt="Produktbild">
        <div class="desc">
            <div class="variant-select">
                {% for variant in product.variants.all %}
                    <a href="">
                        <div class="amount">
                            <p class="main">{{ variant.amount_str }}</p>
                            <p class="sub">{{ variant.base_amount_price_str }}</p>
                        </div>
                        <div class="price">
                            <p>{{ variant.price_str }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <p class="tax-hint">alle Preise inkl. 7% MwSt., zzgl. Versandkosten</p>
    <p>{{ product.description }}</p>
{% endblock %}
