{% extends "core/base.html" %}
{% load static %}

{% block additional_meta %}
    <meta name="robots" content="noindex, nofollow, noarchive">
{% endblock %}

{% block content %}
    <p class="beta-note">
        Diese Seite dient zum Test unseres neuen Online-Shops. Alle Produktangaben sind unverbindlich und Sie können
        keine Bestellungen aufgeben. Unseren richtigen Online-Shop finden Sie
        <a class="item" href="https://shop.fleischerei-hartmann.com">hier</a>.
    </p>
    <h2>Produkte</h2>
    <div class="product-list">
        {% for product in products %}
            <a class="product-card" href="{{ product.url }}">
                <img src="{% static 'core/product-placeholder.png' %}" alt="Produktbild">
                <div class="desc">
                    <div class="img-fadeout"></div>
                    <h3>{{ product.name }}</h3>
                    <div class="price-wrapper">
                        <div class="price">
                            <p class="main">{{ product.price_range_str }}</p>
                            <p class="sub">{{ product.base_price_range_amount_str }}</p>
                        </div>
                        {% if product.has_single_variant %}
                            <i class="fa-solid fa-cart-shopping"></i>
                        {% else %}
                            <i class="fa-solid fa-ellipsis"></i>
                        {% endif %}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <p class="tax-hint">alle Preise inkl. 7% MwSt., zzgl. Versandkosten</p>
{% endblock %}
